<div class="card-collection">
  <div class="row">
    <% @user.following.each do |card_user| %>
      <%= render 'layouts/building_blocks/user_card', :card_user => card_user; %>
    <% end %>
  </div>
</div>
