<div class="col s3 m3 l3">
  <div class="card">
    <div class="card-image">
      <%= link_to image_tag("r-kelly-gq.jpg", border: 0), "#" %>
    </div>
    <div class="card-content">
      <div class="left">
        <a href="#">R. Kelly</a>
      </div>
    </div>
  </div>
</div>
