<%= link_to icon_user do %>
  <div class="row profileicon valign-wrapper">
    <div class="col l4 s2">
      <%= image_tag icon_user.thumbnail.url, :class=> "profileicon-img" %>
    </div>
    <div class="col l6 profileicon-data">
      <div class="name"><%= icon_user.title %></div>
    </div>
  </div>
<% end %>
