<div class="row profileicon valign-wrapper">
  <div class="col l4 s2">
    <%= image_tag "rkelly.jpg", :class=> "profileicon-img" %>
  </div>
  <div class="col l6 profileicon-data">
    <div class="name">Charity Name</div>
  </div>
</div>
