<div class="container">
  <div class="row modal-row">
    <div class="modal col l4" id="playlistmodal">
      <div class="modal-header">
        <h4>create a playlist</h4>
      </div>
      <div class="modal-content">
        <%= render 'playlists/new' %>
      </div>
    </div>
  </div>
</div>
